<!DOCTYPE html>
<html>

<head>
    <title><%= process.env.appName %></title>
    <%= require('@layouts/meta.ejs')()%>
    <%= require('@layouts/rem.ejs')() %>
    <%= require('@layouts/logincss.ejs')()%>
</head>

<body>
    <header class="header">
        <a class="back"></a>
        <h2>选择话题</h2>
    </header>
		<section class="section">
			<div class="search">
				<input type="text" placeholder="输入关键字搜索话题">
				<button class="searchbtn"></button>
			</div>
			<div class="topic-list">
				<%var list={
					new:[
						{
							title:'留学的流程是怎么样的',
							hot:42
						},
						{
							title:'国际教育专家推荐的国际学校有哪些',
							hot:85
						},
						{
							title:'留学的流程是怎么样的',
							hot:42
						}
					],
					hot:[
						{
							title:'留学的流程是怎么样的',
							hot:42
						},
						{
							title:'国际教育专家推荐的国际学校有哪些',
							hot:85
						},
						{
							title:'留学的流程是怎么样的留学的流程是怎么样的留学的流程是怎么样的留学的流程是怎么样的',
							hot:42
						}
					]
				}%>
				<%if(list.new.length){%>
				<h2>最近使用</h2>
				<ul>
					<%list.new.forEach(function(lis){%>
					<li>
						<h3>#<%=lis.title%>#</h3>
						<span><%=lis.hot%>讨论</span>
					</li>
					<%})%>
				</ul>
				<%}%>
				<%if(list.new.length&&list.hot.length){%>
					<p class="line"></p>
				<%}%>
				<%if(list.hot.length){%>
				<h2>热门话题</h2>
				<ul>
					<%list.hot.forEach(function(lis){%>
					<li>
						<h3>#<%=lis.title%>#</h3>
						<span><%=lis.hot%>讨论</span>
					</li>
					<%})%>
				</ul>
				<%}%>
			</div>
		</section>
    <%= require('@layouts/loginjs.ejs')()%>
</body>

</html>