<!DOCTYPE html>
<html>

<head>
    <title><%= process.env.appName %></title>
    <%= require('@layouts/meta.ejs')()%>
    <%= require('@layouts/rem.ejs')() %>
    <%= require('@layouts/logincss.ejs')()%>
</head>

<body>
    <header class="header">
        <a class="back"></a>
        <h2>收藏</h2>
		<button type="button" class="del-btn">管理</button>
    </header>
	<section class="section">
		<% var list = []%>
		<%if(list.length){%>
		<ul class="del-list-style collection-list">
			
			<% list.forEach(function(lis){%>
			<li>
				<label class="checkbox">
					<input type="checkbox" name="lis" value="<%=lis.id%>" />
					<span></span>
				</label>
				<div class="content">
				<% if(lis.type=="wz"){%>
					<div class="text">
						<div class="title">
							<a href="<%=lis.link%>">
								<h3><%=lis.title%></h3>
							</a>
						</div>
						<div class="user">
							<a href="<%=lis.userlink%>">
								<i style="background-image:url(<%=lis.userimg%>)"></i>
								<span><%=lis.user%></span>
							</a>
						</div>
					</div>
					<%if(lis.img.length){%>
					<div class="image wz" style="background-image: url(<%=lis.img%>)"></div>
					<%}%>
				</div>
				<%}%>
				<% if(lis.type=="dsp"){%>
					<div class="text">
						<div class="title">
							<a href="<%=lis.link%>">
								<h3><%=lis.title%></h3>
							</a>
						</div>
						<div class="user">
							<a href="<%=lis.userlink%>">
								<i style="background-image:url(<%=lis.userimg%>)"></i>
								<span><%=lis.user%></span>
							</a>
						</div>
					</div>
					<div <%=lis.duration?('duration='+lis.duration):''%> class="image dsp" style="background-image: url(<%=lis.img%>)"></div>
				</div>
				<%}%>
				<% if(lis.type=="wtt"){%>
					<div class="ww">
						<div class="top">
							<div class="ll">
								<a href="<%=lis.userlink%>">
									<i style="background-image:url(<%=lis.userimg%>)"></i>
									<span><%=lis.user%></span>
								</a>
							</div>
							<div class="rr">
								<button class="<%=lis.follow?'active':''%>"><%=lis.follow?'已关注':'关注'%></button>
							</div>
						</div>
						<div class="text">
							<a href="<%=lis.link%>">
								<h3><%=lis.title%></h3>
							</a>
						</div>
						<div class="images">
							<%lis.img.forEach(function(img){%>
							<div class="image <%=(lis.img.length==1)?'one':''%>" style="background-image: url(<%=img%>)"></div>
							<%})%>
						</div>
					</div>
				</div>
				<%}%>
			</li>
			<%})%>
		</ul>
		<%}else{%>
		<div class="no">
			<img src="<%=require('@images/no3.png')%>" alt="">
			<p>暂无收藏</p>
		</div>
		<%}%>
	</section>
	<div class="del-list-bottom-style foots">
		<div class="weui-actionsheet" id="iosActionsheet">
			<div class="weui-actionsheet__menu menu_list">
				<button type="button" class="alldel">一键删除</button>
				<button type="button" class="del">删除</button>
			</div>
		</div>
	</div>
	<%= require('@layouts/footer.ejs')()%>
    <%= require('@layouts/loginjs.ejs')()%>
</body>

</html>