<!DOCTYPE html>
<html>

<head>
    <title><%= process.env.appName %></title>
    <%= require('@layouts/meta.ejs')()%>
    <%= require('@layouts/rem.ejs')() %>
    <%= require('@layouts/logincss.ejs')()%>
</head>

<body>
    <header class="header">
        <a class="back"></a>
        <h2>联系人</h2>
    </header>
		<section class="section">
			<div class="search">
				<input type="text" placeholder="搜索">
				<button class="searchbtn"></button>
			</div>
			<div class="contacts-list">
				<h2>我的关注</h2>
				<ul>
					
				</ul>
			</div>
		</section>
		<div class="del-list-bottom-style foots">
	        <div class="weui-actionsheet" id="iosActionsheet">
	            <div class="weui-actionsheet__menu menu_list">
	                <button type="button" class="alldel">一键删除</button>
	                <button type="button" class="del">删除</button>
	            </div>
	        </div>
		</div>
    <%= require('@layouts/loginjs.ejs')()%>
</body>

</html>