<!DOCTYPE html>
<html>

<head>
    <title><%= process.env.appName %></title>
    <%= require('@layouts/meta.ejs')()%>
    <%= require('@layouts/rem.ejs')() %>
    <%= require('@layouts/logincss.ejs')()%>
</head>

<body>
    <header class="header">
        <a class="back"></a>
        <h2>联系人</h2>
    </header>
		<section class="section">
			<div class="search">
				<input type="text" placeholder="搜索">
				<button class="searchbtn"></button>
			</div>
			<div class="contacts-list">
				<h2>我的关注</h2>
				<ul>
					<%var list=[
						{
							user:'波斯的猫1',
							userimg:'https://picsum.photos/id/357/84/84',
							desc:'做一名国际教育工作者',
							num:'20万粉丝'
						},
						{
							user:'波斯的猫2',
							userimg:'https://picsum.photos/id/357/84/84',
							desc:'做一名国际教育工作者',
							num:'20万粉丝'
						},
						{
							user:'波斯的猫3',
							userimg:'https://picsum.photos/id/357/84/84',
							desc:'做一名国际教育工作者',
							num:'20万粉丝'
						},
						{
							user:'波斯的猫4',
							userimg:'https://picsum.photos/id/357/84/84',
							desc:'做一名国际教育工作者',
							num:'20万粉丝'
						},
						{
							user:'波斯的猫5',
							userimg:'https://picsum.photos/id/357/84/84',
							desc:'做一名国际教育工作者',
							num:'20万粉丝'
						},
						{
							user:'波斯的猫6',
							userimg:'https://picsum.photos/id/357/84/84',
							desc:'做一名国际教育工作者',
							num:'20万粉丝'
						},
						{
							user:'波斯的猫7',
							userimg:'https://picsum.photos/id/357/84/84',
							desc:'做一名国际教育工作者',
							num:'20万粉丝'
						},
						{
							user:'波斯的猫8',
							userimg:'https://picsum.photos/id/357/84/84',
							desc:'做一名国际教育工作者',
							num:'20万粉丝'
						},
						{
							user:'波斯的猫9',
							userimg:'https://picsum.photos/id/357/84/84',
							desc:'做一名国际教育工作者',
							num:'20万粉丝'
						},
						{
							user:'波斯的猫10',
							userimg:'https://picsum.photos/id/357/84/84',
							desc:'做一名国际教育工作者',
							num:'20万粉丝'
						},
						{
							user:'波斯的猫11',
							userimg:'https://picsum.photos/id/357/84/84',
							desc:'做一名国际教育工作者',
							num:'20万粉丝'
						},
						{
							user:'波斯的猫12',
							userimg:'https://picsum.photos/id/357/84/84',
							desc:'做一名国际教育工作者',
							num:'20万粉丝'
						}
					]%>
					<%list.forEach(function(lis){%>
					<li>
						<div class="userimg" style="background-image:url(<%=lis.userimg%>)"></div>
						<div class="msg">
							<h2><%=lis.user%></h2>
							<p><span><%=lis.num%></span><%=lis.desc%></p>
						</div>
					</li>
					<%})%>
				</ul>
			</div>
		</section>
    <%= require('@layouts/loginjs.ejs')()%>
</body>

</html>