<!DOCTYPE html>
<html>

<head>
    <title><%= process.env.appName %></title>
    <%= require('@layouts/meta.ejs')()%>
    <%= require('@layouts/rem.ejs')() %>
    <%= require('@layouts/logincss.ejs')()%>
</head>

<body>
    <header class="header">
        <a class="back"></a>
        <h2>消息通知</h2>
		<button type="button" class="del-btn">管理</button>
    </header>
		<section class="section">
			<% var list = []%>
			<%if(list.length){%>
			<ul class="del-list-style notification-list">
				<% list.forEach(function(lis){%>
				<li>
					<label class="checkbox">
						<input type="checkbox" name="lis" value="<%=lis.id%>" />
						<span></span>
					</label>
					<div class="content">
						<% if(lis.type=="关注"){%>
							<div class="gz">
								<div class="left">
									<a href="<%=lis.link%>">
										<div class="user" style="background-image:url(<%=lis.userimg%>)"></div>
									</a>
								</div>
								<div class="right">
									<p class="t">
									<a href="<%=lis.link%>">
										<span><%=lis.user%></span>
									</a>
									关注了你</p>
									<p class="time"><%=lis.time%></p>
								</div>
							</div>
						<%}%>
						<% if(lis.type=="系统"){%>
							<div class="xt">
								<div class="left">
									<div class="user" style="background-image:url(<%=require('@images/xt.png')%>)"></div>
								</div>
								<div class="right">
									<p class="t">系统消息</p>
									<a href="<%=lis.link%>">
										<%if(lis.xtimg==""){%>
											<div class="con">
												<div class="textp">
												<p><%=lis.xttext%></p>
												</div>
											</div>
										<%}else{%>
											<div class="con img">
												<div class="textp">
												<p><%=lis.xttext%></p>
												</div>
												<div class="image" style="background-image:url(<%=lis.xtimg%>)">
												</div>
											</div>
										<%}%>
									</a>
									<p class="time"><%=lis.time%></p>
								</div>
							</div>
						<%}%>
						<% if(lis.type=="评论"){%>
							<div class="plwrap">
								<div class="pl">
									<div class="left">
										<a href="<%=lis.link%>">
											<div class="user" style="background-image:url(<%=lis.userimg%>)"></div>
										</a>
									</div>
									<div class="right">
										<p class="t">
											<a href="<%=lis.link%>">
												<span><%=lis.user%></span>
											</a>
										评论了你</p>
										<p class="msg"><%=lis.hf%></p>
										<a href="<%=lis.link%>">
											<%if(lis.xtimg==""){%>
												<div class="con">
													<div class="textp">
													<p><%=lis.xttext%></p>
													</div>
												</div>
											<%}else{%>
												<div class="con img">
													<div class="textp">
													<p><%=lis.xttext%></p>
													</div>
													<div class="image" style="background-image:url(<%=lis.xtimg%>)">
													</div>
												</div>
											<%}%>
										</a>
										<p class="time">
											<button class="hfwrap">回复</button>
											<span><%=lis.time%></span>
										</p>
										<div class="textareawrap">
											<div class="textarea">
												<textarea name="" id="" placeholder="请输入您想说的话"></textarea>
											</div>
											<div class="btn">
												<button class="hfbtn">发布</button>
											</div>
										</div>
									</div>
								</div>
									
								</div>
							</div>
						<%}%>
					</div>
				</li>
				<%})%>
			</ul>
			<%}else{%>
			<div class="no">
				<img src="<%=require('@images/no1.png')%>" alt="">
				<p>暂无通知</p>
			</div>
			<%}%>
		</section>
		<div class="del-list-bottom-style foots">
	        <div class="weui-actionsheet" id="iosActionsheet">
	            <div class="weui-actionsheet__menu menu_list">
	                <button type="button" class="alldel">一键删除</button>
	                <button type="button" class="del">删除</button>
	            </div>
	        </div>
		</div>
    <%= require('@layouts/loginjs.ejs')()%>
</body>

</html>