<!DOCTYPE html>
<html>

<head>
    <title><%= process.env.appName %></title>
    <%= require('@layouts/meta.ejs')()%>
    <%= require('@layouts/rem.ejs')() %>
    <%= require('@layouts/logincss.ejs')()%>
</head>

<body>
    <header class="header">
        <a class="back"></a>
        <h2>评论</h2>
    </header>
	<section class="section">
		<% var list = []%>
		<%if(list.length){%>
		<ul class="del-list-style comment-list">
			<% list.forEach(function(lis){%>
			<li>
				<div class="top">
					<div class="left">
						<a href="<%=lis.userlink%>">
							<div class="userimg" style="background-image:url(<%=lis.userimg%>)"></div>
							<p><%=lis.user%></p>
						</a>
					</div>
					<div class="right">
						<p><%=lis.time%></p>
					</div>
				</div>
				<div class="center">
					<p><%=lis.comment%></p>
				</div>
				<div class="bottom">
					<a href="<%=lis.desc.link%>">
						<div class="comment-header">
							<div class="comment-header-userimg" style="background-image:url(<%=lis.userimg%>)"></div>
							<p><%=lis.user%></p>
						</div>
						<div class="comment-content">
							<%if(lis.desc.type=='video'){%>
								<div class="text">
									<p><%=lis.desc.text%></p>
								</div>
								<div class="image video" <%=lis.desc.duration?('duration='+lis.desc.duration):''%> style="background-image:url(<%=lis.desc.videoimg%>)"></div>
							<%}else if(lis.desc.type=='wz' || lis.desc.type=='wtt'){%>
								<div class="text twoline">
									<p><%=lis.desc.text%></p>
								</div>
							<%}%>
						</div>
						<%if(lis.desc.img&&lis.desc.img.length){%>
						<div class="images">
							<%lis.desc.img.forEach(function(item){%>
								<div class="image <%=(lis.desc.img.length==1)?'one':''%>" style="background-image:url(<%=item%>)"></div>
							<%})%>
						</div>
						<%}%>
					</a>
				</div>
			</li>
			<%})%>
		</ul>
		<%}else{%>
		<div class="no">
			<img src="<%=require('@images/no1.png')%>" alt="">
			<p>暂无评论</p>
		</div>
		<%}%>
	</section>
    <%= require('@layouts/loginjs.ejs')()%>
</body>

</html>