<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover">
		<link href="https://m.ieduchina.com/favicon.ico" rel="Shortcut Icon">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>微头条</title>
		<meta name="keywords" content="国际教育网，微头条" />
		<meta name="description" content="国际教育网，微头条" />
		<meta itemprop="name" content="国际教育网，微头条" />
		<meta itemprop="image" content="https://m.ieduchina.com/statics/images/logo_share.png">
		<meta name="format-detection" content="telephone=no">
		<%= require('@layouts/logincss.ejs')()%>
		<script>
			(function () {
				var width = document.documentElement.clientWidth;
				var style = document.createElement("style");
				if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
					style.innerHTML = "html{font-size: " + width / 16 + "px !important;}";
				} else {
					style.innerHTML = "html{font-size: " + 750 / 16 + "px !important;width:750px;margin:0 auto;}";
				}
				document.head.appendChild(style);
			})();

		</script>
	</head>

	<body>
		<header class="header">
			<a class="back"></a>
			<img src="<%=require('@images/logo.png')%>">
		</header>
		<section class="section">
			<div class="dynamic-page" style="background-image: url(https://picsum.photos/id/838/750/470);">
				<div class="creative-center-banner-mask">
					<div class="top">
						<img class="user-avatar" src="https://picsum.photos/id/338/120/120">
						<h3>波斯的猫咪</h3>
					</div>
					<ul class="statistical">
						<li>
							<a>
								<span>36</span>
								<p>动态</p>
							</a>
						</li>
						<li>
							<a>
								<span>36</span>
								<p>粉丝</p>
							</a>
						</li>
						<li>
							<a>
								<span>36</span>
								<p>关注</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="creative-menu dynamic-menu">
				<div class="inner">
					<div class="menu-top">
						<div class="menu-in">
							<button class="active">全部</button>
							<button>文章</button>
							<button>视频</button>
							<button>微头条</button>
						</div>
					</div>
				</div>
			</div>
			<div class="dynamic-list">
				<!-- wtt 微头条-->
				<!-- sp  视频-->
				<!-- wz  文章-->
				<ul>
					<% var list = [
						{
							type:'sp',
							userimg:'https://picsum.photos/id/360/73/73',
							user:'波斯的猫咪',
							time:'2020-03-09',
							title:'北京致知学校开放日｜本周末走致知，听鉴教育',
							img:['https://picsum.photos/id/889/253/150'],
							link:'javascript:',
							pl:96
						},
						{
							type:'sp',
							userimg:'https://picsum.photos/id/360/73/73',
							user:'波斯的猫咪',
							time:'2020-03-09',
							title:'北京致知学校开放日｜本周末走致知，听鉴教育',
							img:[],
							link:'javascript:',
							pl:96
						}
					]%>
					<%list.forEach(function(lis){%>
					<li class="<%=lis.type%>">
						<div class="user">
							<a href="<%=lis.link%>:">
								<img src="<%=lis.userimg%>">
							</a>
							<div class="name">
								<h2><%=lis.user%></h2>
								<p><%=lis.time%></p>
							</div>
							<div class="operation">
								<div class="men">
									<p class="follow">关注</p>
									<p>拉黑</p>
									<p>举报此内容</p>
								</div>
							</div>
						</div>
						<div class="lis">
							<div class="text">
								<a href="javascript:">
									<h3><%=lis.title%></h3>
								</a>
								<div class="tool">
									<a><%=lis.pl%> 评论</a>
									<a class="share"><i></i>分享</a>
									<a class="collection"><i></i>收藏</a>
								</div>
							</div>
							<%if(lis.img&&lis.img.length){%>
							<a href="javascript:">
								<div class="image" style="background-image: url(<%=lis.img[0]%>);"></div>
							</a>
							<%}%>
						</div>
					</li>
					<%})%>
					<li class="wz">
						<div class="user">
							<a href="javascript:">
								<img src="https://picsum.photos/id/360/73/73" >
							</a>
							<div class="name">
								<h2>波斯的猫咪</h2>
								<p>2020-03-09</p>
							</div>
							<div class="operation">
								<div class="men">
									<p class="follow">关注</p>
									<p>拉黑</p>
									<p>举报此内容</p>
								</div>
							</div>
						</div>
						<div class="lis">
							<div class="text">
								<a href="javascript:">
									<h3>北京致知学校开放日｜本周末走致知，听鉴教育</h3>
								</a>
								<div class="tool">
									<a>0 评论</a>
									<a class="share"><i></i>分享</a>
									<a class="iscollection"><i></i>收藏</a>
								</div>
							</div>
							<a href="javascript:">
								<div class="image" style="background-image: url(https://picsum.photos/id/889/253/150);"></div>
							</a>
						</div>
					</li>
					<li class="wz">
						<div class="user">
							<a href="javascript:">
								<img src="https://picsum.photos/id/360/73/73" >
							</a>
							<div class="name">
								<h2>波斯的猫咪</h2>
								<p>2020-03-09</p>
							</div>
							<div class="operation">
								<div class="men">
									<p class="follow">关注</p>
									<p>拉黑</p>
									<p>举报此内容</p>
								</div>
							</div>
						</div>
						<div class="lis">
							<div class="text">
								<a href="javascript:">
									<h3>北京致知学校开放日｜本周末走致知，听鉴教育</h3>
								</a>
								<div class="tool">
									<a>0 评论</a>
									<a class="share"><i></i>分享</a>
									<a class="collection"><i></i>收藏</a>
								</div>
							</div>
						</div>
					</li>
					<li class="wtt">
						<div class="user">
							<a href="javascript:">
								<img src="https://picsum.photos/id/360/73/73" >
							</a>
							<div class="name">
								<h2>波斯的猫咪</h2>
								<p>2020-03-09</p>
							</div>
							<div class="operation">
								<div class="men">
									<p class="follow">关注</p>
									<p>拉黑</p>
									<p>举报此内容</p>
								</div>
							</div>
						</div>
						<div class="lis">
							<div class="text">
								<a href="javascript:">
									<h3>北京致知学校开放日｜本周末走致知，听鉴教育</h3>
								</a>
							</div>
							<div class="images">
								<div class="img" style="background-image: url(https://picsum.photos/id/360/218/218);"></div>
								<div class="img" style="background-image: url(https://picsum.photos/id/361/218/218);"></div>
								<div class="img" style="background-image: url(https://picsum.photos/id/362/218/218);"></div>
							</div>
							<div class="tool">
								<a>0 评论</a>
								<a class="share"><i></i>分享</a>
								<a class="collection"><i></i>收藏</a>
							</div>
						</div>
					</li>
					<li class="wtt one">
						<div class="user">
							<a href="javascript:">
								<img src="https://picsum.photos/id/360/73/73" >
							</a>
							<div class="name">
								<h2>波斯的猫咪</h2>
								<p>2020-03-09</p>
							</div>
							<div class="operation">
								<div class="men">
									<p class="follow">关注</p>
									<p>拉黑</p>
									<p>举报此内容</p>
								</div>
							</div>
						</div>
						<div class="lis">
							<div class="text">
								<a href="javascript:">
									<h3>北京致知学校开放日｜本周末走致知，听鉴教育</h3>
								</a>
							</div>
							<div class="images">
								<div class="img" style="background-image: url(https://picsum.photos/id/360/218/218);"></div>
							</div>
							<div class="tool">
								<a>0 评论</a>
								<a class="share"><i></i>分享</a>
								<a class="collection"><i></i>收藏</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<%= require('@layouts/loginjs.ejs')()%>
	</body>

</html>
