<!DOCTYPE html>
<html>

<head>
    <title><%= process.env.appName %></title>
    <%= require('@layouts/meta.ejs')()%>
    <%= require('@layouts/rem.ejs')() %>
    <%= require('@layouts/logincss.ejs')()%>
</head>

<body>
    <header class="header">
        <a class="back"></a>
        <h2>填写个人信息</h2>
    </header>
    <section class="section">
        <div class="avatar">
            <div class="avatar-img">
                <img src="https://picsum.photos/id/453/188/188" alt="用户" class="avatar">
            </div>
            <button class="addPhotoBtn1" id="addPhotoBtn1">修改头像</button>
			<form action="">
				<input type="hidden" name="userimg" id="avatar-img" value="" />
				<ul>
					<li>
						<span>昵称</span>
						<input type="text" name="name" value="波斯的猫咪" nullmsg="请输入昵称"/>
					</li>
					<li>
						<span>身份</span>
						<input type="hidden" name="work" value="教育工作者"/>
						<a href="javascript:" class="weui-cell_access" id="showPicker">
							<p>教育工作者</p>
							<i></i>
						</a>
					</li>
					<li>
						<span>地址</span>
						<input type="text" name="address" value="深圳福田" nullmsg="请输入地址"/>
					</li>
					<li>
						<span>邮箱</span>
						<input type="text" name="email" value="ieduchina@ieduchina.com" nullmsg="请输入邮箱" errormsg="邮箱格式不正确" datatype="email"/>
					</li>
				</ul>
				<button type="button" success="提交成功" error="提交失败" class="submit">提交</button>
			</form>
        </div>
        
    </section>
	<%= require('@layouts/loginjs.ejs')()%>
</body>

</html>