<header class="headernav">
    <div id="wap_ad_top"></div>
    <div class="header">
        <div class="left" id="menu">
            <img src="//m.ieduchina.com/statics/users/images/menu.png" alt="">
        </div>
        <h1>
           <a href="//m.ieduchina.com"><img src="//m.ieduchina.com/statics/w/img/logol.png" alt="国际教育网"></a>
        </h1>
        <a class="search" href="//m.ieduchina.com/search/">
            <img src="//m.ieduchina.com/statics/users/images/search.png" alt="">
        </a>
        <a class="right" href="//m.ieduchina.com/login.html" id="adLogin">
            <img src="//m.ieduchina.com/statics/users/images/nouser.png" alt="">
        </a>
    </div>
    <div class="topmenu">
        <%let topmenu = [{"name":"首页","link":"/"},
        {"name":"学校","link":"/schoollist.html"},
        {"name":"亲子","link":"//m.ieduchina.com/parents/"},
        {"name":"升学","link":"//m.ieduchina.com/topic/ruxue/"},
        {"name":"留学","link":"//m.ieduchina.com/topic/abroad/"},
        {"name":"资源","link":"/#ziyuan"}]%>
        <ul>
            <%topmenu.forEach((el,index)=>{%>
                <li<%=(index==0)?" class=active":""%>>
                    <a href="<%=el.link%>"><%=el.name%></a>
                </li>    
            <%})%>
        </ul>
    </div>
    <div class="index-menu-wrap">
        <div class="index-menu">
            <div class="title">
                全部频道
                <div class="close-menu"></div>
            </div>
            <%let menu2=[
                {
                    "name":"资讯",
                    "list":[
                        {
                            "name":"校园资讯",
                            "link":"//m.ieduchina.com/school/"
                        },
                        {
                            "name":"家庭教育",
                            "link":"//m.ieduchina.com/parents/"
                        },
                        {
                            "name":"升学资讯",
                            "link":"//m.ieduchina.com/training/"
                        },
                        {
                            "name":"留学资讯",
                            "link":"/abroad.html"
                        },
                        {
                            "name":"移民资讯",
                            "link":"//m.ieduchina.com/immigration/"
                        }
                    ]
                },
                {
                    "name":"投稿",
                    "list":[
                        {
                            "name":"发布微头条",
                            "link":"//m.ieduchina.com/login.html"
                        }
                    ]
                },
                {
                    "name":"学校",
                    "list":[
                        {
                            "name":"国际学校",
                            "link":"//schoollist.m.ieduchina.com/schlist/c2/"
                        },
                        {
                            "name":"海外学校",
                            "link":"//schoollist.m.ieduchina.com/schlist/c1/"
                        }
                    ]
                },
                {
                    "name":"活动",
                    "list":[
                        {
                            "name":"全部活动",
                            "link":"//m.ieduchina.com/huodong/"
                        },
                        {
                            "name":"开放日",
                            "link":"//m.ieduchina.com/huodong/?type=1"
                        },
                        {
                            "name":"冬/夏令营",
                            "link":"//m.ieduchina.com/huodong/?type=2"
                        },
                        {
                            "name":"培训",
                            "link":"//m.ieduchina.com/huodong/?type=3"
                        },
                        {
                            "name":"教育展",
                            "link":"//m.ieduchina.com/huodong/?type=4"
                        },
                        {
                            "name":"直播",
                            "link":"//m.ieduchina.com/huodong/?type=5"
                        }
                    ]
                }
            ]%>
            <%menu2.forEach((el)=>{%>
                <h2><%=el.name%></h2>
                <ul>
                    <%el.list&&el.list.forEach((el2)=>{%>
                        <li><a href="<%=el2.link%>"><%=el2.name%></a></li>    
                    <%})%>
                </ul>
            <%})%>
        </div>
    </div>
</header>