<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title><%= process.env.appName %></title>
	<!-- aboutuscss.ejs -->
	<%= require('@layouts/meta.ejs')()%>
    <%= require('@layouts/commoncss.ejs')()%>
    <%= require('@layouts/rem.ejs')() %>
</head>
<body>
	<%= require('@layouts/header.ejs')() %>
    <%= require('@layouts/aboutusbannermenu.ejs')({index:3}) %>
    <section class="about-joinus714">
		<div class="about-joinus-item">
			<h2 en="Company Benefits" class="title714">公司福利</h2>
			<ul class="about-joinus-menu">
				<% var cblist = [
					{img:'img6331.png',name:'五险一金'},
					{img:'img6332.png',name:'培训晋升'},
					{img:'img6333.png',name:'带薪年假'},
					{img:'img6334.png',name:'节日福利'}
				]%>
				<% cblist.forEach(function(el){%>
				<li>
					<img src="<%= require('@images/'+el.img) %>">
					<P><%=el.name%></P>
				</li>
				<% }) %>
			</ul>
		</div>
		<div class="about-joinus-item">
			<h2 en="Company Environment" class="title714">公司环境</h2>
			<div class="about-joinus-swiper">
				<div class="swiper-container joinus_swiper">
					<div class="swiper-wrapper">
						<% var swiperlist = ['img0714490','img0714491','img0714492','img0714493']%>
						<% swiperlist.forEach(function(slide){ %>
						<div class="swiper-slide" style='background-image: url("<%= require('@images/'+slide+'.jpg') %>");'></div>
						<%})%>
					</div>
				</div>
			</div>
		</div>
		<div class="about-joinus-item">
			<h2 en="Company Benefits" class="title714">热招岗位</h2>
			<p class="tip">请投递简历至hr@ieduchina.com ,为了我们最大可能捕捉到你的信息，不错过不遗憾，标题请注明 "您的姓名＋应聘＋职位"。<br>联系电话：0755-26915817/15323892278</p>
			<% var list=[]%>
			<ul class="about-joinus-work">
				<% var cblist = [
					{
						name:'出纳',
						address:'深圳',
						people:'1人',
						duty:[
							'1.熟悉银行账户的日常结算，包括银行结算单据的填发、取得、核对，以及各种票据的结算和月末与银行对账等；',
							'2.严格按照现金管理制度和结算制度，依公司费用报销规定和收付款审批手续，办理现金收支和银行结算；',
							'3.及时登记现金、银行存款日记帐以及系统收款单的录入和结算，并及时将手上的单据整理移交会计编制记账凭证，做到日清月结；',
							'4.协助会计做好各种帐务的处理工作；',
							'5.有团队精神，完成上级交给的其它事务性工作。'
							],
						requirement:[
							'1.会计类专业全日制本科及以上学历；',
							'2.具有扎实的财务会计基础；',
							'3.熟悉会计法规、准则、税务法规及财务软件操作；',
							'4.具有良好的职业操守和团队合作精神，沟通协调能力良好。'
							]
					},
					{
						name:'出纳',
						address:'深圳',
						people:'1人',
						duty:[
							'1.熟悉银行账户的日常结算，包括银行结算单据的填发、取得、核对，以及各种票据的结算和月末与银行对账等；',
							'2.严格按照现金管理制度和结算制度，依公司费用报销规定和收付款审批手续，办理现金收支和银行结算；',
							'3.及时登记现金、银行存款日记帐以及系统收款单的录入和结算，并及时将手上的单据整理移交会计编制记账凭证，做到日清月结；',
							'4.协助会计做好各种帐务的处理工作；',
							'5.有团队精神，完成上级交给的其它事务性工作。'
							],
						requirement:[
							'1.会计类专业全日制本科及以上学历；',
							'2.具有扎实的财务会计基础；',
							'3.熟悉会计法规、准则、税务法规及财务软件操作；',
							'4.具有良好的职业操守和团队合作精神，沟通协调能力良好。'
							]
					}
				]%>
				<% cblist.forEach(function(el){%>
				<li>
					<div class="title">
						<span class="weight"><%=el.name%></span>
						<span class="address"><img src="<%= require('@images/img6335.png') %>"><%=el.address%></span>
						<span><%=el.people%></span>
						<span class="detail">查看详情<img src="<%= require('@images/img6336.png') %>"></span>
					</div>
					<div class="details">
						<div class="con">
							<% if(el.duty.length){%>
								<p class="titles">岗位职责</p>
								<% el.duty.forEach(function(it){%>
								<p><%=it%></p>
								<%})%>
							<%}%>
							<% if(el.requirement.length){%>
								<p class="titles">岗位要求</p>
								<% el.requirement.forEach(function(it){%>
								<p><%=it%></p>
								<%})%>
							<%}%>
						</div>
					</div>
				</li>
				<% }) %>
			</ul>
		</div>
	</section>      
	<%= require('@layouts/footer.ejs')() %>
	<%= require('@layouts/commonjs.ejs')()%>
</body>
</html>