<!DOCTYPE html>
<html lang="zh">
<%= require('@layouts/head.ejs')() %>
<body>
    <header class="headernew">
        <a class="back"></a>
        <img src="<%= require('@images/logo.png')%>" alt="国际教育网">
    </header>
	<section class="section">
		<div class="w-detail">
			<div class="w-header">
				<a href="javascript:">
					<img src="https://picsum.photos/id/605/73/73" alt="波斯的猫咪">
                    <div class="name">
                        <h2>波斯的猫咪</h2>
                        <p>2021-08-02</p>
                    </div>
				</a>
				<button type="button">关注</button>
			</div>
			<div class="w-text">
				<p>
					北京致知学校开放日｜本周末走致知，听鉴教育北京致知
					学校开放日｜本周末走北京致知学校开放日｜本周末走致
					知，听鉴教育北京致知学校开放日｜本周末走本周末走致
					知，听鉴教育北京致知学校开放日｜本周末走
				</p>
			</div>
			<ul>
				<% var imglist=[
					'https://picsum.photos/id/606/217/196',
					'https://picsum.photos/id/607/217/196',
					'https://picsum.photos/id/608/217/196',
					'https://picsum.photos/id/609/217/196',
					'https://picsum.photos/id/610/217/196',
					'https://picsum.photos/id/611/217/196',
					'https://picsum.photos/id/612/217/196',
					'https://picsum.photos/id/613/217/196',
					'https://picsum.photos/id/614/217/196'
				].splice(Math.ceil(Math.random()*9))%>
				<% imglist.forEach(function(item){%>
                    <li class="<%=imglist.length==1?'one':''%>" style="background-image: url(<%=item%>)"></li>
				<%})%>
				
			</ul>
		</div>
		<div class="comment">
			<form action="">
				<h2>评论</h2>
				<div class="textarea">
					<textarea name=""></textarea>
				</div>
				<div class="btn">
					<button>发布</button>
				</div>
			</form>
			<div class="common-list">
				
			</div>
		</div>
        <div class="school-active">
            <div class="title">
                <h2>推荐活动</h2>
                <a href="javascript:;">
                    <span>更多活动</span>
                </a>
            </div>
            <ul>
                <li>
                    <a href="javascript:;">
                        <div style="background-image: url(https://picsum.photos/id/202/280/172);" class="left">
                        </div>
                        <div class="right">
                            <h3>东华文泽学校12月11日春季招生开放日</h3>
                            <p>
                                <span>国际学校活动</span>
                                <span>冬令营</span>
                            </p>
                            <div class="bottom">
                                <div class="time">
                                    2020-12-11
                                </div>
                                <div class="bm">
                                    <button>预约报名</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div style="background-image: url(https://picsum.photos/id/202/280/172);" class="left">
                        </div>
                        <div class="right">
                            <h3>东华文泽学校12月11日春季招生开放日</h3>
                            <p>
                                <span>国际学校活动</span>
                                <span>冬令营</span>
                            </p>
                            <div class="bottom">
                                <div class="time">
                                    2020-12-11
                                </div>
                                <div class="bm">
                                    <button>预约报名</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div style="background-image: url(https://picsum.photos/id/202/280/172);" class="left">
                        </div>
                        <div class="right">
                            <h3>东华文泽学校12月11日春季招生开放日</h3>
                            <p>
                                <span>国际学校活动</span>
                                <span>冬令营</span>
                            </p>
                            <div class="bottom">
                                <div class="time">
                                    2020-12-11
                                </div>
                                <div class="bm">
                                    <button>预约报名</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="school-dk">
            <div class="title">
                <h2>大咖说择校</h2>
                <a href="javascript:;">
                    <span>更多视频</span>
                </a>
            </div>
            <ul>
                <li>
                    <a href="javascript:;">
                        <div style="background-image: url(https://picsum.photos/id/948/340/321);" class="video-img">
                            <div class="video-title">
                                <div class="hf">查看回放</div>
                                <div>2020-02-02</div>
                            </div>
                        </div>
                        <p>留学欧洲高性价比之选-葡萄牙科英布拉大学留学欧洲高性价比之选-葡萄牙科英布拉大学</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div style="background-image: url(https://picsum.photos/id/950/340/321);" class="video-img">
                            <div class="video-title">
                                <div class="hf">查看回放</div>
                                <div>2020-02-02</div>
                            </div>
                        </div>
                        <p>留学欧洲高性价比之选-葡萄牙科英布拉大学留学欧洲高性价比之选-葡萄牙科英布拉大学</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div style="background-image: url(https://picsum.photos/id/949/340/321);" class="video-img">
                            <div class="video-title">
                                <div class="hf">查看回放</div>
                                <div>2020-02-02</div>
                            </div>
                        </div>
                        <p>留学欧洲高性价比之选-葡萄牙科英布拉大学留学欧洲高性价比之选-葡萄牙科英布拉大学</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div style="background-image: url(https://picsum.photos/id/951/340/321);" class="video-img">
                            <div class="video-title">
                                <div class="hf">查看回放</div>
                                <div>2020-02-02</div>
                            </div>
                        </div>
                        <p>留学欧洲高性价比之选-葡萄牙科英布拉大学留学欧洲高性价比之选-葡萄牙科英布拉大学</p>
                    </a>
                </li>
            </ul>
        </div>
	</section>
    <%= require('@layouts/footer.ejs')({footer:true})%>
</body>

</html>