<!DOCTYPE html>
<html lang="zh">
<%= require('@layouts/head.ejs')() %>
<body>
    <header class="headernew">
        <a class="back"></a>
        <img src="<%= require('@images/logo.png')%>" alt="国际教育网">
    </header>
	<section class="section">
		<div class="w-detail">
			<div class="w-header">
				<a href="javascript:">
					<img src="https://picsum.photos/id/605/73/73" alt="波斯的猫咪">
                    <div class="name">
                        <h2>波斯的猫咪</h2>
                        <p>2021-08-02</p>
                    </div>
				</a>
				<button type="button">关注</button>
			</div>
			<div class="w-text">
				<p>
					北京致知学校开放日｜本周末走致知，听鉴教育北京致知
					学校开放日｜本周末走北京致知学校开放日｜本周末走致
					知，听鉴教育北京致知学校开放日｜本周末走本周末走致
					知，听鉴教育北京致知学校开放日｜本周末走
				</p>
			</div>
			<ul>
				<% var imglist=[
					'https://picsum.photos/id/606/217/196',
					'https://picsum.photos/id/607/217/196',
					'https://picsum.photos/id/608/217/196',
					'https://picsum.photos/id/609/217/196',
					'https://picsum.photos/id/610/217/196',
					'https://picsum.photos/id/611/217/196',
					'https://picsum.photos/id/612/217/196',
					'https://picsum.photos/id/613/217/196',
					'https://picsum.photos/id/614/217/196'
				].splice(Math.ceil(Math.random()*9))%>
                <% var lis={
                    collection:true,
                    read:1,
                    pl:11
                }%>
				<% imglist.forEach(function(item){%>
                    <li class="<%=imglist.length==1?'one':''%>" style="background-image: url(<%=item%>)"></li>
				<%})%>
				
			</ul>
            <%= require('@layouts/ysp.ejs')({lis:lis})%>
		</div>
		<div class="wtt-comment" id="pl">
			<form>
				<h2>评论</h2>
				<div class="textarea">
					<textarea name="" placeholder="请输入您想说的话"></textarea>
				</div>
				<div class="btn">
					<button>发布</button>
				</div>
			</form>
			<div class="common-list">
				<% let common=[
					{
						authorimg:'https://picsum.photos/id/605/73/73',
						authorlink:'javascript:',
						author:'波斯的猫咪',
						time:'2021-08-02',
						content:'很有意义的一段视频，值得收藏！！！',
						id:1
					},
					{
						authorimg:'https://picsum.photos/id/605/73/73',
						authorlink:'javascript:',
						author:'波斯的猫咪',
						time:'2021-08-02',
						content:'很有意义的一段视频，值得收藏！！！',
						id:2
					},
					{
						authorimg:'https://picsum.photos/id/605/73/73',
						authorlink:'javascript:',
						author:'波斯的猫咪',
						time:'2021-08-02',
						content:'很有意义的一段视频，值得收藏！！！',
						id:3
					},
					{
						authorimg:'https://picsum.photos/id/605/73/73',
						authorlink:'javascript:',
						author:'波斯的猫咪',
						time:'2021-08-02',
						content:'很有意义的一段视频，值得收藏！！！',
						id:3
					},
					{
						authorimg:'https://picsum.photos/id/605/73/73',
						authorlink:'javascript:',
						author:'波斯的猫咪',
						time:'2021-08-02',
						content:'很有意义的一段视频，值得收藏！！！',
						id:3
					},
					{
						authorimg:'https://picsum.photos/id/605/73/73',
						authorlink:'javascript:',
						author:'波斯的猫咪',
						time:'2021-08-02',
						content:'很有意义的一段视频，值得收藏！！！',
						id:3
					}
				]%>
				<ul class="istwo">
					<% common.forEach((el,index) => {%>
						<li>
							<div class="author-msg">
								<a href="<%=el.authorlink%>">
									<img src="<%=el.authorimg%>" alt="<%=el.author%>">
									<div class="name">
										<h2><%=el.author%></h2>
										<p><%=el.time%></p>
									</div>
								</a>
								<button type="button">X</button>
							</div>
							<p><%=el.content%></p>
						</li>
					<%});%>
				</ul>
				<div class="more">
					<button>更多评论</button>
				</div>
			</div>
		</div>
        <div class="index-wtt">
            <%=require('@layouts/titlefn.ejs')({item:{title:'推荐微头条',link:'javascript:',link_title:'更多头条'}})%>
			<ul class="wtt">
				<% var wttlist = [
					{
						img:['https://www.ieduchina.com/uploadfile/202107/f34120210727182950.jpg','https://www.ieduchina.com/uploadfile/202107/f34120210727182950.jpg','https://www.ieduchina.com/uploadfile/202107/f34120210727182950.jpg','https://www.ieduchina.com/uploadfile/202107/f34120210727182950.jpg'],
						title:'北京致知学校开放日｜本周末走致知本周末走致知本周末走致知，听鉴教育',
						type:'wtt',
						time:'1小时前',
						user:'波斯的猫咪',
						userimg:'https://www.ieduchina.com/uploadfile/202107/f34120210727182950.jpg',
						id:0,
						status:'已发布',
						modify:true,
						follow:true,
						link:'javascript:',
						userlink:'javascript:',
						collection:true
					},
					{
						img:['https://www.ieduchina.com/uploadfile/202107/f34120210727182950.jpg',
						'https://www.ieduchina.com/uploadfile/202107/f34120210727182950.jpg',
						'https://www.ieduchina.com/uploadfile/202107/f34120210727182950.jpg',
						'https://www.ieduchina.com/uploadfile/202107/f34120210727182950.jpg',
						'https://www.ieduchina.com/uploadfile/202107/f34120210727182950.jpg',
						'https://www.ieduchina.com/uploadfile/202107/f34120210727182950.jpg',
						'https://www.ieduchina.com/uploadfile/202107/f34120210727182950.jpg',
						'https://www.ieduchina.com/uploadfile/202107/f34120210727182950.jpg',
						'https://www.ieduchina.com/uploadfile/202107/f34120210727182950.jpg'],
						title:'北京致知学校开放日｜本周末走致知本周末走致知本周末走致知，听鉴教育',
						type:'wtt',
						time:'1小时前',
						user:'波斯的猫咪',
						userimg:'https://www.ieduchina.com/uploadfile/202107/f34120210727182950.jpg',
						id:0,
						status:'已发布',
						follow:true,
						link:'javascript:',
						userlink:'javascript:',
						collection:false
					},
					{
						img:['https://www.ieduchina.com/uploadfile/202107/f34120210727182950.jpg'],
						title:'北京致知学校开放日｜本周末走致知本周末走致知本周末走致知，听鉴教育',
						type:'wtt',
						time:'1小时前',
						user:'波斯的猫咪',
						userimg:'https://www.ieduchina.com/uploadfile/202107/f34120210727182950.jpg',
						id:0,
						status:'已发布',
						follow:false,
						link:'javascript:',
						userlink:'javascript:',
						collection:false
					}
				]%>
				
				<% wttlist.forEach(function(lis){%>
					<%=require('@layouts/wtt.ejs')({lis:lis,isBtn:true})%>
				<%})%>
			</ul>
		</div>
        <div class="schoolnews">
			<%=require('@layouts/titlefn.ejs')({item:{title:'推荐活动',link:'javascript:',link_title:'更多活动'}})%>
	        <ul>
				<% var list=[
					{
						title:'揭秘全球领先的新加坡教育优势，高校规划国际教育孩子升学之路',
						link:'javascript:',
						img:'https://www.ieduchina.com/uploadfile/activity/202107/1626333696.jpg',
						label:['直播'],
						time:'2021.07.30 周五'
					},
					{
						title:'抓住7月份的尾巴，再次热血“斐”腾！',
						link:'javascript:',
						img:'https://www.ieduchina.com/uploadfile/activity/202107/1627036593.jpg',
						label:['国际学校活动'],
						time:'2021.07.31 周六'
					},
					{
						title:'中考结束，是时候来北京爱迪国际学校探校啦！',
						link:'javascript:',
						img:'https://www.ieduchina.com/uploadfile/activity/202106/1625032489.png',
						label:['国际学校活动'],
						time:'2021.07.31 周六'
					}
				] %>
				<% list.forEach(function(el){%>
	            <li>
	                <a href="<%=el.link%>">
	                    <div style="background-image: url('<%= el.img%>');" class="left">
	                    </div>
	                    <div class="right">
	                        <h3><%=el.title%></h3>
	                        <p>
								<% el.label.forEach(function(e){%>
	                            <span><%=e%></span>
								<%})%>
	                        </p>
	                        <div class="bottom">
	                            <div class="time">
	                                <%=el.time%>
	                            </div>
	                            <div class="bm">
	                                <button>预约报名</button>
	                            </div>
	                        </div>
	                    </div>
	                </a>
	            </li>
				<%})%>
	        </ul>
	    </div>
        <div class="dk">
			<%=require('@layouts/titlefn.ejs')({item:{title:'大咖说择校',link:'javascript:',link_title:'更多视频'}})%>
	        <ul>
				<% var video=[
					{
						link:'javascript:',
						img:'https://picsum.photos/id/695/240/160',
						time:'2020-02-02',
						desc:'留学欧洲高性价比之选-葡萄牙科英布拉大学留学欧洲高性价比之选-葡萄牙科英布拉大学'
					},
					{
						link:'javascript:',
						img:'https://picsum.photos/id/695/240/160',
						time:'2020-02-02',
						desc:'留学欧洲高性价比之选-葡萄牙科英布拉大学留学欧洲高性价比之选-葡萄牙科英布拉大学'
					},
					{
						link:'javascript:',
						img:'https://picsum.photos/id/695/240/160',
						time:'2020-02-02',
						desc:'留学欧洲高性价比之选-葡萄牙科英布拉大学留学欧洲高性价比之选-葡萄牙科英布拉大学'
					},
					{
						link:'javascript:',
						img:'https://picsum.photos/id/695/240/160',
						time:'2020-02-02',
						desc:'留学欧洲高性价比之选-葡萄牙科英布拉大学留学欧洲高性价比之选-葡萄牙科英布拉大学'
					}
				]%>
				<% video.forEach(function(el){%>
	            <li>
	                <a href="<%el.link%>">
	                    <div style="background-image: url('<%= el.img %>');" class="video-img">
	                        <div class="video-title">
	                            <div class="hf">查看回放</div>
	                            <div><%=el.time%></div>
	                        </div>
	                    </div>
	                    <p><%=el.desc%></p>
	                </a>
	            </li>
				<%})%>
	        </ul>
	    </div>
	</section>
    <%= require('@layouts/footer.ejs')({footer:true})%>
</body>

</html>