<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="//m.ieduchina.com/favicon.ico" rel="Shortcut Icon">
	<meta name="keywords" content="国际教育,国际学校,教育门户">
	<meta name="description"
		content="国际教育网是汇集了海内外前沿的国际教育门户网站，涵盖北京、上海、广州、深圳等全国数千家国际学校排名学费及招生报名资讯，为K12家长提供全面升学指导、为孩子提供专业的国际课程、助力备考升学。">
	<title>国际教育网</title>
	<link rel="stylesheet" href="https://m.ieduchina.com/statics/css/swiper.min.css">
	<link rel="stylesheet" href="https://m.ieduchina.com/statics/users/css/header.css?t=1652666154">
	<link rel="stylesheet" href="https://m.ieduchina.com/statics/users/css/footer.css?t=1652666154">
	<script>
		var http_url = window.location.href;
		if (http_url == "http://m.ieduchina.com/" || http_url == "http://m.ieduchina.com") {
			window.location.href = "https://m.ieduchina.com";
		}
		(function () {
			var width = document.documentElement.clientWidth;
			var style = document.createElement("style");
			if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
				style.innerHTML = "html{font-size: " + width / 16 + "px !important;}";
			} else {
				style.innerHTML = "html{font-size: " + 750 / 16 + "px !important;width:750px;margin:0 auto;}";
			}
			document.head.appendChild(style);
		})();
	</script>
</head>

<body>
	<%= require('@layouts/header.ejs')({index:1,adtop:true})%>
	<section>
		<div class="banner">
			<div class="swiper-wrapper">
				<%let swiper=["","",""]%>
				<%swiper.forEach(()=>{%>
					<div class="swiper-slide">
						<a href="javascript:">
							<img src="https://www.ieduchina.com/uploadfile/202205/1652664202.jpg" alt="">
							<p>采访了100个高商学生，总结出文科生/理科生/艺术采访了100个高商学生，总结出文科生/理科生/艺术</p>
						</a>
					</div>
				<%})%>
			</div>
			<div class="banner-pagination"></div>
		</div>
		<div class="news">
			<%=require(`@layouts/h3title.ejs`)({name:"最新内容",linkname:"更多内容",link:"javascript:"})%>
			<% let news = ["","","","",""]%>
			<ul>
				<%news.forEach((el,index)=>{%>
					<li>
						<%if(index%2){%>
							<a href="javascript:">
								<div class="image" style="background-image:url(https://www.ieduchina.com/uploadfile/202205/1652664202.jpg)"></div>
							</a>
						<%}%>
						<div class="right">
							<div class="text">
								<a href="javascript:">
									<h2>哈罗珠海2022年秋季招生季招生季招生季招生</h2>
									<p>根据横琴粤澳深度合作区民生事务局《2022年秋季横琴粤2022年秋季横琴粤2022年秋季横琴粤2022年秋季横琴粤2022年秋季横琴粤</p>
								</a>
							</div>
							<p class="source">
								<a href="javascript:">
									<img src="https://www.ieduchina.com/uploadfile/gzh/202112/164024959930856.jpg">
									<span>朗途出国</span>
								</a>
								<span>2022-05-10</span>
							</p>
						</div>
					</li>
				<%})%>
			</ul>
		</div>
		<div class="new-activity">
			<%=require(`@layouts/h3title.ejs`)({name:"最新活动",linkname:"更多活动",link:"javascript:"})%>
			<% let activity = ["","","","",""]%>
			<ul>
				<%activity.forEach((el,index)=>{%>
					<li>
						<a href="javascript:">
							<div class="image" style="background-image:url(https://www.ieduchina.com/uploadfile/202205/1652664202.jpg)"></div>
							<div class="right">
								<div class="text">
									<h2>哈罗珠海2022年秋季招生季招生季招生季招生哈罗珠海2022年秋季招生季招生季招生季招生</h2>
								</div>
								<p>开始时间：2022-05-12 20:30-21:30</p>
								<p>主办单位：贝赛思国际学校</p>
								<button>查看详情</button>
							</div>
						</a>
					</li>
				<%})%>
			</ul>
		</div>
		<div class="hot-school">
			<%=require(`@layouts/h3title.ejs`)({name:"热门国际学校",linkname:"更多学校",link:"javascript:"})%>
			<% let school = ["","","","",""]%>
			<ul>
				<%activity.forEach((el,index)=>{%>
					<li>
						<a href="javascript:">
							<div class="image" style="background-image:url(https://www.ieduchina.com/uploadfile/202205/1652664202.jpg)"></div>
							<div class="right">
								<h2>哈罗珠海2022年秋季招生季招生季招生季招生哈罗珠海2022年秋季招生季招生季招生季招生</h2>
								<p>
									<span class="y">幼儿园</span>
									<span class="x">小学</span>
									<span class="c">初中</span>
									<span class="g">高中</span></p>
								<p>开始时间：2022-05-12 20:30-21:30</p>
								<p>主办单位：贝赛思国际学校</p>
								<button>申请入读</button>
							</div>
						</a>
					</li>
				<%})%>
			</ul>
		</div>
		<div class="hot-information">
            <%=require(`@layouts/h3title.ejs`)({name:"热门资讯",linkname:"更多资讯",link:"javascript:"})%>
			<% let information = ["","","","",""]%>
            <ul>
				<%activity.forEach((el,index)=>{%>
					<li>
						<a href="javascript:">
							<div class="image" style="background-image:url(https://www.ieduchina.com/uploadfile/202205/1652664202.jpg)"></div>
							<div class="right">
								<h2>哈罗珠海2022年秋季招生季招生季招生季招生哈罗珠海2022年秋季招生季招生季招生季招生</h2>
								<p>主办单位：贝赛思国际学校</p>
							</div>
						</a>
					</li>
				<%})%>
			</ul>
        </div>
		<div class="hoosing-school">
			<%=require(`@layouts/h3title.ejs`)({name:"大咖说择校",linkname:"更多视频	",link:"javascript:"})%>
			<% let hoosing = ["","","","",""]%>
            <ul>
				<%hoosing.forEach((el,index)=>{%>
					<li>
						<a href="javascript:">
							<div class="image" style="background-image:url(https://www.ieduchina.com/uploadfile/202205/1652664202.jpg)"></div>
							<div class="right">
								<h2>别再说美国留学贵了，大学奖学金申请指南赶紧收好！，大学奖学金申请指南赶紧收好！</h2>
								<p>开讲时间：2022-05-02 周一</p>
							</div>
						</a>
					</li>
				<%})%>
			</ul>
		</div>
	</section>
	<%= require('@layouts/footer.ejs')()%>
	<script src="https://m.ieduchina.com/statics/js/jquery-1.8.3.js"></script>
	<script type="text/javascript" src="https://m.ieduchina.com/statics/users/js/main.js?t=396785"></script>
	<script src="https://m.ieduchina.com/statics/w/js/swiper.min.js"></script>
</body>

</html>