<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="//m.ieduchina.com/favicon.ico" rel="Shortcut Icon">
	<meta name="keywords" content="国际教育,国际学校,教育门户">
	<meta name="description"
		content="国际教育网是汇集了海内外前沿的国际教育门户网站，涵盖北京、上海、广州、深圳等全国数千家国际学校排名学费及招生报名资讯，为K12家长提供全面升学指导、为孩子提供专业的国际课程、助力备考升学。">
	<title>国际教育网</title>
	<link rel="stylesheet" href="https://m.ieduchina.com/statics/css/swiper.min.css">
	<link rel="stylesheet" href="https://m.ieduchina.com/statics/users/css/header.css?t=1652666154">
	<link rel="stylesheet" href="https://m.ieduchina.com/statics/users/css/footer.css?t=1652666154">
	<script>
		var http_url = window.location.href;
		if (http_url == "http://m.ieduchina.com/" || http_url == "http://m.ieduchina.com") {
			window.location.href = "https://m.ieduchina.com";
		}
		(function () {
			var width = document.documentElement.clientWidth;
			var style = document.createElement("style");
			if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
				style.innerHTML = "html{font-size: " + width / 16 + "px !important;}";
			} else {
				style.innerHTML = "html{font-size: " + 750 / 16 + "px !important;width:750px;margin:0 auto;}";
			}
			document.head.appendChild(style);
		})();
	</script>
</head>

<body>
	<div class="headerwrap">
		<%= require('@layouts/header.ejs')({index:1,adtop:true})%>
		<%let menu = [
			{
				"name":"城市搜索",
				"list":["全部","北京","上海","香港","深圳","广州","天津","重庆","杭州","东莞","惠州"]
			},
			{
				"name":"省份搜索",
				"list":["全部","广东","江苏","浙江","四川","安徽","福建","湖北","湖南","陕西","辽宁","山东","河南","江西","河北","云南","青海","黑龙江","甘肃","贵州","吉林","广西","新疆","内蒙古","台湾","海南"]
			},
			{
				"name":"招生年级",
				"list":["全部","国际化大学","国际高中","国际初中","国际小学","国际幼儿园","国际托育园"]
			},
			{
				"name":"课程体系",
				"list":["全部","IB课程","AP课程","ALevel课程","美国课程","英国课程","加拿大课程","新加坡课程","澳大利亚课程","双语国际课程","IGCSE课程","香港DSE课程","国际艺术课程","其他课程"]
			}] %>
		<menu>
			<%menu.forEach((el)=>{%>
				<span><%=el.name%></span>
			<%})%>
		</menu>
		<div class="menu-con">
			<%menu.forEach((el)=>{%>
				<div class="menu">
					<div class="links">
						<%el.list.forEach((a,i)=>{%>
							<a<%=(i==0)?" class=active":""%>><%=a%></a>
						<%})%>
					</div>
				</div>
			<%})%>
			<div class="menu-mask"></div>
		</div>
	</div>
	<section class="schoollist">
		<div class="schoollist-top">
			<img src="<%=require(`@images/国际教育网logo Final@2x.png`)%>" alt="国际教育网">
			<h3>国际教育网 · 院校库大全</h3>
			<img src="<%=require(`@images/组 1483@2x.png`)%>" alt="国际教育网 · 院校库大全">
			<div class="link">
				<%let link = [{"name":"所国际学校","num":"7384","link":"javascript:"},{"name":"所海外学校","num":"98321","link":"javascript:"},{"name":"次每日阅读","num":"1272","link":"javascript:"}]%>
				<%link.forEach((el)=>{%>
					<a href="<%=el.link%>">
						<span><%=el.num%></span>
						<p><%=el.name%></p>	
					</a>	
				<%})%>
			</div>
			<div class="btn">
				<a href="javascript:">我要入驻</a>
			</div>
		</div>
		<div class="schoollist-list">
			<h4 class="title">
				<span>国际学校大全</span>
			</h4>
			<ul>
				<%let list = ["","",""]%>
				<%list.forEach((el,index)=>{%>
					<li>
						<div class="top">
							<a href="javascript:">
								<div class="schoollog">
									<img src="https://www.ieduchina.com/uploadfile/college/202012/1607653957.png" alt="北京师范大学附属实验中学国际部">	
								</div>
								<div class="price">
									<span>参考学费</span>
									<p>12.8万~20.8万</p>
								</div>
							</a>
						</div>
						<div class="center">
							<a href="javascript:">
								<h3>上海高藤致远创新学校</h3>	
								<div class="text">
									<p>上海高藤致远创新学校位于浦东绿地国际教育园区，是与绿地香港股份有限公司（全球500强企业绿地集团控股子公司）战略合作上海高藤致远创新学校位于…</p>
								</div>
							</a>
							<div class="tools">
								<a>2020人关注</a>
								<a>2020人咨询</a>
								<a>预约探校</a>
							</div>
						</div>
						<% if(index!=2){%>
							<div class="bottom">
								<a href="javascript:">
									<div class="text">
										<div class="title">
											<h4><i></i>深扒包玉刚：中国排名第一！据说马伊琍女儿就读该校！它凭什么这么牛？</h4>
										</div>
									</div>
								</a>
							</div>	
						<%}%>
					</li>
				<%})%>
			</ul>
			<div class="more-school">
				<a href="javascript:">更多学校</a>
			</div>
		</div>
	</section>
	<div class="masks mask-form">
		<div class="mask-box">
			<h4>填写申请信息</h4>
			<span class="close">
				<img src="<%=require(`@images/2021122701.png`)%>" alt="close">
			</span>
			<form action="">
				<input type="text" name="name" placeholder="请输入您的姓名" nullmsg="请输入您的姓名">
				<div class="select">
					<select name="province" id="provinceid" nullmsg="请选择孩子就读省份"></select>
				</div>
				<div class="select">
					<select name="city" id="cityid" nullmsg="请选择孩子就读城市"></select>
				</div>
				<div class="select">
					<select name="grade" nullmsg="请选择孩子在读年级">
					<option value="" style="display: none" selected="">孩子就读年级</option>
					<option value="幼儿园">幼儿园</option>
					<option value="一年级">一年级</option>
					<option value="二年级">二年级</option>
					<option value="三年级">三年级</option>
					<option value="四年级">四年级</option>
					<option value="五年级">五年级</option>
					<option value="六年级">六年级</option>
					<option value="七年级">七年级</option>
					<option value="八年级">八年级</option>
					<option value="九年级">九年级</option>
					<option value="十年级">十年级</option>
					<option value="十一年级">十一年级</option>
					<option value="十二年级">十二年级</option>
					<option value="大一">大一</option>
					<option value="大二">大二</option>
					<option value="大三">大三</option>
					<option value="大四">大四</option>
					<option value="其他">其他</option>
				</select>
				</div>
				<input type="text" name="mobile" placeholder="请输入您的手机号" maxlength="11" nullmsg="请输入您的手机号" datatype="m" errormsg="手机号格式不正确">
				<input type="submit" value="提交">
			</form>
		</div>
	</div>
	<div class="school-footer-tools">
        <a href="http://p.qiao.baidu.com/cps/chat?siteId=10762946&amp;userId=23739680">在线咨询</a>
        <a href="tel:4009008516">电话咨询</a>
        <a class="formtk" href="javascript:">预约探校</a>
    </div>
	<%= require('@layouts/footer.ejs')()%>
	<script src="https://m.ieduchina.com/statics/js/jquery-1.8.3.js"></script>
	<script type="text/javascript" src="https://m.ieduchina.com/statics/users/js/main.js?t=396785"></script>
	<script src="https://m.ieduchina.com/statics/w/js/swiper.min.js"></script>
	<script src="//m.ieduchina.com/statics/m/js/layer.js?t=1215"></script>
	<script src="https://m.ieduchina.com/statics/school/js/city.js"></script>
</body>

</html>