<header class="headernav">
    <!-- 活动start -->
    <div id="wap_ad_top">
        <style>
            .guoqing-bg {
                width: 100%;
                height: 4.0rem;
                background: url("<%= require('@images/1604141681.png')%>")  no-repeat center; 
                background-size: 100% 100%;
                cursor: pointer;
                transition: all ease-in-out 0.1s;
            }
        </style>
        <div class="guoqing-bg" style="position: relative;">
            <a href="https://m.ieduchina.com/huodong/202010/628.html"
                style="position: absolute;top: .3rem; left: .7rem; width: 6rem;height: .7rem;"></a>
        </div>
    </div>
    <!-- 活动end -->
    <div class="header">
		<div class="left" id="menu">
		    <img src="<%= require('@images/menu.png') %>" alt="">
		</div>
        <h1>
            <img src="https://m.ieduchina.com/statics/w/img/logol.png" alt="">
        </h1>
        <a class="search" href="./searchkey.html">
			<img src="<%= require('@images/search.png') %>" alt="">
        </a>
		<a class="right" href="javascript:">
			<img src="https://picsum.photos/id/357/48/48" alt="">
		</a>
    </div>
    <div class="topmenu">
        <ul>
			<% var m = [
				{name:'首页',link:'.'},
				{name:'学校',link:'javascript:'},
				{name:'亲子',link:'javascript:'},
				{name:'出国',link:'javascript:'},
				{name:'升学',link:'javascript:'},
				{name:'资源',link:'javascript:'}
				]%>
			<% m.forEach(function(el,i){%>
            <li class="<%= (typeof index !='undefined') && index==i?'active':''%>">
                <a href="<%=el.link%>"><%=el.name%></a>
            </li>
			<%})%>
        </ul>
    </div>
    <div class="index-menu-wrap">
        <div class="index-menu">
            <div class="title">
                全部频道
                <div class="close-menu"></div>
            </div>
            <h2>资讯</h2>
            <ul>
                <li><a href="javascript:;">校园资讯</a></li>
                <li><a href="javascript:;">家庭教育</a></li>
                <li><a href="javascript:;">升学资讯</a></li>
                <li><a href="javascript:;">留学资讯</a></li>
                <li><a href="javascript:;">移民资讯</a></li>
            </ul>
            <h2>投稿</h2>
            <ul>
                <li><a href="javascript:;">发布文章</a></li>
            </ul>
            <h2>学校</h2>
            <ul>
                <li><a href="javascript:;">国际学校</a></li>
                <li><a href="javascript:;">海外学校</a></li>
            </ul>
            <h2>活动</h2>
            <ul>
                <li><a href="javascript:;">全部活动</a></li>
                <li><a href="javascript:;">开放日</a></li>
                <li><a href="javascript:;">冬/夏令营</a></li>
                <li><a href="javascript:;">培训</a></li>
                <li><a href="javascript:;">教育展</a></li>
                <li><a href="javascript:;">直播</a></li>
            </ul>
        </div>
    </div>
</header>