<!-- 微头条板块 -->
<%if(isBtn){%>
<li class="wttlist <%=lis.img.length==1?'one':''%>">
    <div class="user">
        <a href="<%=lis.userlink%>">
            <img src="<%=lis.userimg%>" >
        </a>
        <div class="name">
            <h2><%=lis.user%></h2>
        </div>
        <div class="follow">
            <button><%=lis.follow?'关注':'已关注'%></button>
        </div>
    </div>
    <div class="lis">
        <div class="text">
            <a href="<%=lis.link%>">
                <h3><%=lis.title%></h3>
            </a>
        </div>
        <a href="<%=lis.link%>">
            <div class="images">
                <%lis.img.forEach((el,index)=>{%>
                    <%if(index<3){%>
                        <div class="img" style="background-image: url(<%=el%>);"></div>
                    <%}%>
                    <%if((lis.img.length>3)&&(index==lis.img.length-1)){%>
                        <div class="mask"><%=`${lis.img.length-3}+`%></div>
                    <%}%>
                <%})%>
            </div>
        </a>
        <%= require('@layouts/ysp.ejs')({lis:lis})%>
    </div>
</li>
<%}else{%>
<li class="wttlist <%=lis.img.length==1?'one':''%>">
    <div class="user">
        <a href="<%=lis.userlink%>">
            <img src="<%=lis.userimg%>" >
        </a>
        <div class="name">
            <h2><%=lis.user%></h2>
        </div>
        <div class="operation">
            <div class="men">
                <p class="top"><i class="top"></i>顶置</p>
                <p class="<%=lis.modify?'modify':'nomodify'%>"><i></i>修改</p>
                <p class="del"><i></i>删除</p>
            </div>
        </div>
    </div>
    <div class="lis">
        <div class="text">
            <a href="<%=lis.link%>">
                <h3><%=lis.title%></h3>
            </a>
        </div>
        <a href="<%=lis.link%>">
            <div class="images">
                <%lis.img.forEach((el,index)=>{%>
                <%if(index<3){%>
                <div class="img" style="background-image: url(<%=el%>);"></div>
                <%}%>
                <%if((lis.img.length>3)&&(index==lis.img.length-1)){%>
                <div class="mask"><%=`${lis.img.length-3}+`%></div>
                <%}%>
                <%})%>
            </div>
        </a>
        <%= require('@layouts/ysp.ejs')({lis:lis})%>
    </div>
</li>
<%}%>