<!-- 阅读收藏评论 -->
<div class="ysp-tool">
    <div class="left">
        <a><%=lis.read||0%> 阅读</a>
        <a><%=lis.pl||0%> 评论</a>
        <%if(typeof lis.collection != 'undefined'){%>
        <a class="<%=lis.collection?'collection':'nocollection'%>"><i></i>收藏</a>
        <%}%>
    </div>
    <%if(lis.status){%>
    <div class="right">
        <a><%=lis.status%></a>
        <a><%=lis.time%></a>
    </div>
    <%}else if(lis.time){%>
    <div class="right">
        <a><%=lis.time%></a>
    </div>
    <%}%>
</div>