<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title><%= process.env.appName %></title>
	<!-- aboutuscss.ejs -->
	<%= require('@layouts/meta.ejs')()%>
    <%= require('@layouts/commoncss.ejs')()%>
    <%= require('@layouts/rem.ejs')() %>
</head>
<body>
	<%= require('@layouts/header.ejs')() %>
    <%= require('@layouts/aboutusbannermenu.ejs')({index:0}) %>
    <section class="about-content714">
        <div class="content714">
            <h2 en="IEduChina" class="title714">国际教育网</h2>
			<p><span class="blue">国际教育网</span>
				是国际教育综合门户网站，不仅是各大搜索引擎国际教育资讯主要来源和国内外各大主流媒体国际教育资讯内容的重要提供者，而且也为对国际教育有选择需求的家庭提供咨询服务。现拥有读者会员<span>500 多万</span>名，其中<span>90%</span>是来自关注国际教育的家长、学生和高水平学校教师及教育工作者。</p>
				<div class="point">
					<img class="point" src="<%= require('@images/img6321.png') %>">
				</div>
			<p>
				<span class="black">IEduChina</span> is a comprehensive international education portal. It is not only the main source of major search engines for international education information and an important provider of international education information content for major domestic and foreign mainstream media, but also provides consulting services for families who need international education. Now it has more than 5 million reader members, 90% of whom are parents, students, teachers and educators of high-level schools who care about international education.
				</p>
        </div>
		<div class="bg"></div>
		<div class="content714">
			<img src="<%= require('@images/img6322.png') %>">
			<p>作为国际教育大型综合门户，国际教育网已成为国际教育行业中具有特色及影响力的服务平台，汇集了国内外近 <span> 2000 家 K12 </span>国际幼儿园、国际小学、国际中学等国际学校，并与其中  <span>300</span> 多所知名学校建立紧密合作。</p>
			<br>
			<p>As a large-scale comprehensive portal for international education, IEduChina has become a unique and influential service platform in the international education industry, bringing together nearly 2,000 K12 international kindergartens, international primary schools, international high schools and other international schools in China and overseas. It has good relationships with more than 300 well-known international schools. 
</p>
		</div>
		<div class="bg2" style='background-image:url("<%= require('@images/img6323.png') %>")'>
			<p><span>国际教育网旗下设有升学中心和学习中心</span>，为家长和孩子提供择校升学VIP全套咨询服务，为学生提供纯正的 K12 国际课程培训辅导。</p>
			<br>
			<p>IEduChina has set up an education center and a curriculum center, which provide parents and children with a full set of VIP consulting services for school selection and the pure K12 international curriculum training and guidance.</p>
		</div>
		<div class="content714">
		    <h2 en="Advancement Center" class="title714">升学中心</h2>
			<p><span class="blue">国际教育网-升学中心</span>，服务于为子女寻求精英教育、对教育有更高追求的家庭，不仅提供全套 K12 国际名校升学、转学、入学、异地择校、升学备考等一站式 VIP 国际学校升学服务，而且还有世界 <span>TOP 20</span>名校保录项目，助力孩子走向国际舞台。我们始终以<span class="black">“为孩子的教育负责”</span>为己任，成功实现孩子<span class="black">“成长本土化，教育全球化”</span>的愿景。</p>
			<div class="point">
				<img src="<%= require('@images/img6324.png') %>">
			</div>
			<p>IEduChina Education Center serves families who seek elite education for their children. It not only provides a full set of K12 famous international school admissions, transfers, offsite school selection, preparation for entrance exams and other one-stop VIP  international school admissions services, but also has a project to guarantee students to enter the top 20 universities in the world, which help children to show themselves at the global stage.</p>
		</div>
		<div class="content714 bg3" style='background-image:url("<%= require('@images/img6325.png') %>")'>
		    <h2 en="Learning Centre" class="title714">学习中心</h2>
			<p><span class="blue">国际教育网-学习中心</span>，专注于 3 至 18 岁青少年个人成长和个性发展，提供全阶段、多维度、国际性的教育资源； 同时展开K12国际教育相关的家长学院，帮助家长提升对前沿教育的认知与掌握规划孩子未来成长的能力。自2017年创立以来，始终专注于 K12 教育，为了让孩子能步入全国甚至世界名校的舞台，国际教育网学习中心整合全球高端教育资源，提供<span>幼儿、小学、初中、高中</span>各阶段的全科定制课程，整合国际学校优质外教团队，以及经验丰富的海归双语师资团队，为所有心系国际化教育的家庭和学生提供实现梦想的舞台。
                </p>
				<div class="point">
				<img class="m2" src="<%= require('@images/img6326.png') %>">
				</div>
			<p>IEduChina Learning Center focuses on the personal growth and personality development of young people aged from 3 to 18, providing full-stage, multi-dimensional, international educational resources. Meanwhile, providing parents' educaional workshops is aiming on a better guidance for understanding international education as well as building the confidence on child's life navigating. Since its establishment in 2017, it has always focused on K12 education. In order to allow children to enter the stage of national and even world-renowned schools, the IEduChina Learning Center integrates global high-end educational resources and provides all-round customisation at all stages of preschool, elementary school, middle school and high school Curriculums. It also integrates high-quality foreign teachers from international schools and experienced bilingual teachers from Chinese returnees, providing a stage for all families and students who are committed to international education to realise their dreams.</p>
			<img src="<%= require('@images/img6327.png') %>">
			<p>我们始终相信，用实力说话才能掷地有声。国际教育网学习中心汇集国内外名校及各行业精英，善于发现问题并解决问题，不断攻克国际教育领域的各种难题，优化名校课程学习过程，致力于打造业内专业的国际化课程项目团队。为了能够帮助更多的学生在国际舞台上绽放光彩，国际教育网学习中心根据不同名校实际情况，在精准分析后，独立研发了一套完整的课程体系，全方位提升学生的学术素养，帮助他们与世界的发展接轨。</p>
			<img src="<%= require('@images/img6328.png') %>">
			<p>We always believe that only with inner power can we speak loudly. IEduChina Learning Center brings together domestic and foreign famous schools and elites from various industries. It is good at discovering and solving problems, constantly solving various problems in the field of international education, optimising the course learning process of famous schools. We are committed to building a professional international curriculum project team in the industry. In order to help more students to shine on the international stage, the IEduChina Learning Center has independently developed a complete set of curriculum systems based on the actual conditions of different prestigious schools to improve students' academic literacy in an all-round way and help them to integrate with the development of the world.</p>
		</div>
    </section>
    <%= require('@layouts/footer.ejs')() %>
    <%= require('@layouts/commonjs.ejs')()%>
</body>
</html>