<!DOCTYPE html>
<html>

<head>
    <title><%= process.env.appName %></title>
    <%= require('@layouts/meta.ejs')()%>
    <%= require('@layouts/rem.ejs')() %>
    <%= require('@layouts/logincss.ejs')()%>
</head>

<body>
    <header class="header">
        <a class="back"></a>
        <h2>草稿箱</h2>
		<button type="button" class="del-btn">管理</button>
    </header>
	<form>
		<section class="section">
			<ul class="del-list-style drafts-list">
				<% var list = [
					{
						img:'https://picsum.photos/id/365/253/150',
						title:'北京致知学校开放日｜本周末走致知本周末走致知本周末走致知，听鉴教育',
						type:'微头条',
						time:'1小时前',
						id:0
					},
					{
						img:'https://picsum.photos/id/365/253/150',
						title:'北京致知学校开放日｜本周末走致知本周末走致知本周末走致知，听鉴教育',
						type:'短视频',
						time:'1小时前',
						id:1
					},
					{
						img:'https://picsum.photos/id/365/253/150',
						title:'北京致知学校开放日｜本周末走致知本周末走致知本周末走致知，听鉴教育',
						type:'文章',
						time:'1小时前',
						id:2
					}
				]%>
				<% list.forEach(function(lis){%>
				<li>
					<label class="checkbox">
						<input type="checkbox" name="lis" value="<%=lis.id%>" />
						<span></span>
					</label>
					<div class="content">
						<div class="image" style="background-image: url(<%=lis.img%>)"></div>
						<div class="text">
							<h3><%=lis.title%></h3>
							<p class="time"><%=lis.time+' '+lis.type%></p>
						</div>
					</div>
				</li>
				<%})%>
			</ul>
		</section>
		<div class="del-list-bottom-style">
	        <div class="weui-actionsheet" id="iosActionsheet">
	            <div class="weui-actionsheet__menu menu_list">
	                <button type="button" class="alldel">一键删除</button>
	                <button type="button" class="del">删除</button>
	            </div>
	        </div>
		</div>
	</form>
    <%= require('@layouts/loginjs.ejs')()%>
</body>

</html>