<!DOCTYPE html>
<html>

<head>
    <title><%= process.env.appName %></title>
    <%= require('@layouts/meta.ejs')()%>
    <%= require('@layouts/rem.ejs')() %>
    <%= require('@layouts/logincss.ejs')()%>
</head>

<body>
    <header class="header">
        <a class="back"></a>
        <h2>评论</h2>
    </header>
	<section class="section">
		<ul class="del-list-style comment-list">
			<% var list = [
				{
					userimg:'https://picsum.photos/id/524/68/68',
					user:'育儿幼教',
					userlink:'javascript:',
					time:'2021-2-6 15:30',
					comment:'很有意义的一段视频，值得收藏！！！',
					desc:{
						type:'video',
						userimg:'https://picsum.photos/id/525/68/68',
						user:'国际教育专家',
						text:'北京致知学校开放日｜本周末走致知，听鉴教育北京致知学校开放日本周末走，听鉴教育北京致知学校开放日本周末走，听鉴教育北京致知学校开放日本周末走',
						videoimg:'https://picsum.photos/id/526/242/142',
						duration:'00:30',
						link:'javascript:'
					}
				},
				{
					userimg:'https://picsum.photos/id/524/68/68',
					user:'育儿幼教',
					userlink:'javascript:',
					time:'2021-2-6 15:30',
					comment:'很有意义的一段视频，值得收藏！！！',
					desc:{
						type:'wz',
						userimg:'https://picsum.photos/id/525/68/68',
						user:'国际教育专家',
						text:'北京致知学校开放日｜本周末走致知，听鉴教育北京致知学校开放日本周末走，听鉴教育北京致知学校开放日本周末走，听鉴教育北京致知学校开放日本周末走',
						link:'javascript:'
					}
				},
				{
					userimg:'https://picsum.photos/id/524/68/68',
					user:'育儿幼教',
					userlink:'javascript:',
					time:'2021-2-6 15:30',
					comment:'很有意义的一段视频，值得收藏！！！',
					desc:{
						type:'wtt',
						userimg:'https://picsum.photos/id/525/68/68',
						user:'国际教育专家',
						text:'北京致知学校开放日｜本周末走致知，听鉴教育北京致知学校开放日本周末走，听鉴教育北京致知学校开放日本周末走，听鉴教育北京致知学校开放日本周末走',
						img:['https://picsum.photos/id/309/204/204'],
						link:'javascript:'
					}
				},
				{
					userimg:'https://picsum.photos/id/524/68/68',
					user:'育儿幼教',
					userlink:'javascript:',
					time:'2021-2-6 15:30',
					comment:'很有意义的一段视频，值得收藏！！！',
					desc:{
						type:'wtt',
						userimg:'https://picsum.photos/id/525/68/68',
						user:'国际教育专家',
						text:'北京致知学校开放日｜本周末走致知，听鉴教育北京致知学校开放日本周末走，听鉴教育北京致知学校开放日本周末走，听鉴教育北京致知学校开放日本周末走',
						img:[
							'https://picsum.photos/id/309/204/204',
							'https://picsum.photos/id/309/204/204',
							'https://picsum.photos/id/309/204/204',
							'https://picsum.photos/id/309/204/204',
							'https://picsum.photos/id/309/204/204',
							'https://picsum.photos/id/309/204/204',
							'https://picsum.photos/id/309/204/204',
							'https://picsum.photos/id/309/204/204',
							'https://picsum.photos/id/309/204/204'
						],
						link:'javascript:'
					}
				}
			]%>
			<% list.forEach(function(lis){%>
			<li>
				<div class="top">
					<div class="left">
						<a href="<%=lis.userlink%>">
							<div class="userimg" style="background-image:url(<%=lis.userimg%>)"></div>
							<p><%=lis.user%></p>
						</a>
					</div>
					<div class="right">
						<p><%=lis.time%></p>
					</div>
				</div>
				<div class="center">
					<p><%=lis.comment%></p>
				</div>
				<div class="bottom">
					<a href="<%=lis.desc.link%>">
						<div class="comment-header">
							<div class="comment-header-userimg" style="background-image:url(<%=lis.userimg%>)"></div>
							<p><%=lis.user%></p>
						</div>
						<div class="comment-content">
							<%if(lis.desc.type=='video'){%>
								<div class="text">
									<p><%=lis.desc.text%></p>
								</div>
								<div class="image video" <%=lis.desc.duration?('duration='+lis.desc.duration):''%> style="background-image:url(<%=lis.desc.videoimg%>)"></div>
							<%}else if(lis.desc.type=='wz' || lis.desc.type=='wtt'){%>
								<div class="text twoline">
									<p><%=lis.desc.text%></p>
								</div>
							<%}%>
						</div>
						<%if(lis.desc.img&&lis.desc.img.length){%>
						<div class="images">
							<%lis.desc.img.forEach(function(item){%>
								<div class="image <%=(lis.desc.img.length==1)?'one':''%>" style="background-image:url(<%=item%>)"></div>
							<%})%>
						</div>
						<%}%>
					</a>
				</div>
			</li>
			<%})%>
		</ul>
	</section>
    <%= require('@layouts/loginjs.ejs')()%>
</body>

</html>