<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title><%= process.env.appName %></title>
	<!-- aboutuscss.ejs -->
	<%= require('@layouts/meta.ejs')()%>
    <%= require('@layouts/commoncss.ejs')()%>
    <%= require('@layouts/rem.ejs')() %>
</head>
<body>
	<%= require('@layouts/header.ejs')() %>
    <%= require('@layouts/aboutusbannermenu.ejs')({index:2}) %>
    <section class="about-contribution714">
		<img src="<%= require('@images/img6330.png') %>">
		<h3>投稿Email：editors@ieduchina.com</h3>
		<br>
		<h3>邮件主题请使用：<span>投稿+《文章标题》</span></h3>
		<br>
		<p>国际教育网是国际教育的综合门户网站，提供关于国际教育的实用、全面、极具价值的信息，帮助学生更好地选择国际教育、国际学校，了解留学及相关考试和培训动态，并为其提供全面的指导和参考建议。我们始终秉承最新最全、实用有效的宗旨，用专业的态度解读国际教育行业动态，孜孜不倦地服务于广大学生和家长。</p>
		<br>
		<h3>投稿内容要求如下：</h3>
		<p>（1）国际教育类：国内外从学前、小学、中学到大学的国际学校的学校概况、招生信息和学校申请等资讯。<br><br>
		（2）留学信息类：国外各大高校学校概况、招生信息、专业介绍、资格考试、面试技巧、签证申请、留学生活等资讯。<br><br>
		（3）培训学习类：为用户考试提供助力的各类培训课程、选课指导、学习方法、考试科目动态等；<br><br>
		（4）考试指导类：各类国际课程和留学考试的考试安排、基础知识、备考经验、指导分析、考题资料等。<br><br>
		</p>
		<h3>
		  投稿须知：
		</h3>
		<p>
			（1）以WORD文档格式提交，字数500字以上，图文并茂为佳。<br><br>
			（2）鼓励和支持原创内容和第一手资讯，不接受转载内容。<br><br>
			（3）来稿文责自负，本站不负责稿件的无限审查责任，由此引起的与第三方的版权及其它法律问题由投稿人自行负责；但本站有权对稿件进行编辑、修改和删减，如有特殊要求，请在稿件中注明。<br><br>
			（4）请注明个人基本信息和联系方式，以便编辑部能及时联系到您。<br><br>
			（5）审核稿件一般需要2个工作日，如经审核通过，会及时回复邮件。若超过2个工作日没有回复，您可自行处理稿件。<br><br>
		</p>
		<h3>
		  欢迎大家踊跃投稿！<br><br>
		</h3>
	</section>      
		<%= require('@layouts/footer.ejs')() %>
		<%= require('@layouts/commonjs.ejs')()%>
</body>
</html>